@use '@angular/material' as mat;

$ledger-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),

  typography: (
    plain-family: Inter,
    brand-family: Inter,
    regular-weight: 400,
    medium-weight: 500,
    bold-weight: 700,
  ),

  density: (
    scale: 0,
  ),
));

html {
  color-scheme: light;

  @include mat.all-component-themes($ledger-theme);
}

/*
 * Material typography hierarchy.
 *
 * This restores Material styling for native elements such as:
 * h1, h2, h3, h4, h5, h6, p, etc.
 *
 * This is especially important when Tailwind Preflight is enabled.
 */
@include mat.typography-hierarchy($ledger-theme);

